@tailwind base;
@tailwind components;
@tailwind utilities;
.nav{
  transition: 1s ease;
}
#root{
  position: relative;
  min-height: 100vh;
}
.nav.active{
  border-top-color: white !important;
}
.body{
  position: relative;
}
.btn {
  padding: 0.75rem 2rem;
  position: relative;
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid white;
  transition: 1s ease;
}

.btn::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 100px;
  background: linear-gradient(
      70deg,
      transparent,
      transparent,
      white,
      transparent,
      transparent
  );
  left: -70px;
  top: -0.4rem;
  transition: 0.5s ease-in-out;
}
.btn:hover::after {
  left: 100%;
}
.transitions{
  transition: 5s ease !important;
}
.shadow{
  box-shadow: 0 0 8px 0 #BCCBFF;
}
.text-animation{
  animation: textAnimation 2s linear infinite;
  overflow: hidden;
}

@keyframes textAnimation {
  0% {
    width: 0;
  }
  100%{
    width: 100%;
  }
  
}

.class-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.class-card{
  display: grid;
  grid-template-rows: 1.5fr 1fr;
}
@media (max-width: 768px) {
  .class-grid{
    grid-template-rows: 1fr 1fr;
    background-color: red;
  }
  
}
.class-card::before{
  position: absolute;
  content: '';
  width: 120%;
  left: -10px;
  top: -2rem;
  height: 70%;
  z-index: -1;
  transform: rotate(10deg);
  background-color: #D9D9D9;
}
.scroll-none::-webkit-scrollbar{
  display: none;
}
.SideBar-tab{
  transition: .2s ease;
}
.SideBar-tab.active{
  background: rgb(99 102 241);
  color: white;
}